*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  
  
}

header{
  background-color: #ffffff;
}

header .header-top img{
  width: 70px;
  vertical-align: middle;

}

header .header-top span{
  font-size: 4rem;
  vertical-align: middle;
  
}
  
.container{
  max-width: 1122px;
  margin: 0 auto;

}

main .main-top p{
  background-color: aqua;
  padding: 10px 5px;
  box-sizing: border-box;
  color: white;
  border-width: 2px 10px;
  border-style: solid;
  vertical-align: middle;
  
}

p{
  background-color: #46aaef;
  
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 30px;
  border-radius: 20%;
  
}