*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  
  
}

header{
  background-color: #ffffff;
}

header .header-top img{
  width: 70px;
  vertical-align: middle;

}

header .header-top span{
  font-size: 3.5rem;
  vertical-align: middle;
  
}
  
.container{
  max-width: 1122px;
  margin: 0 auto;

}

main .container p{
  background-color: aqua;
  padding: 15px 5px;
  box-sizing: border-box;
  color: white;
  border-style: solid;
  vertical-align: middle;

}

p{
  background-color: #46aaef;
  width: 8%;
  height: 30px;
  vertical-align: middle;
  text-align: center;
  line-height: 30px;
  border-radius: 20%;
  display: inline-block;
  
}