*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F5F8FD;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  
  
}

header{
  background-color: #ffffff;
}

header .header-top img{
  width: 70px;
  vertical-align: middle;

}

header .header-top span{
  font-size: 3.5rem;
  vertical-align: middle;
  
  
}
  
.container{
  width: 70%;
  margin: 30px auto;
  margin-top: 30px;

}

main .container .todocard{
  background-color: aqua;
  padding: 15px 5px;
  box-sizing: border-box;
  color: white;
  border-style: solid;
  vertical-align: middle;

}
